<nav class="navbar">
  <div class="logo">
    <h1>Home Service Provider</h1>
  </div>
  <ul class="nav-links">
    <li><a href="/api/services/">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#contact">Contact Us</a></li>
    <button><a href="/api/login" style="color: #fff;">Login</a></button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button><a href="/api/signup" style="color: #fff;">Sign up</a></button>
  </ul>
</nav>
